{% extends 'base.html.twig' %}

{% block title %}Canal{% endblock %}

{% block body %}
    <h1>Canal</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ canal.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ canal.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ canal.description }}</td>
            </tr>
            <tr>
                <th>ListeAuto</th>
                <td>{{ canal.ListeAuto }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_canal_index') }}">back to list</a>

    <a href="{{ path('app_canal_edit', {'id': canal.id}) }}">edit</a>

    {{ include('canal/_delete_form.html.twig') }}
{% endblock %}
